@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--nord0);

  height: 100vh;
  width: 100%;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 4fr 2fr;

  font-family: 'Radio Canada', sans-serif;
}

#nav-holder {
  display: none;
}

#logo {
  position: absolute;
  top: 25px;
  left: 25px;
}

#showcase {
  display: flex;
  justify-content: center;
  align-items: center;
}

#img-text-container {
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

#tutor {
  min-width: 400px;
  max-width: 55%;
  height: auto;
  border-radius: 20px;
}

#img-subtext {
  color: var(--nord6);
  font-weight: bold;
  font-size: 1.1em;
}

#login-container {
  background-color: var(--nord1);
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#register-form {
  width: min(100% - 2em, 400px);
  margin-inline: auto;
  animation: 0.4s ease-in 0s 1 slideFromRight;
  display: none;
}

#login-form {
  width: min(100% - 2em, 400px);
  margin-inline: auto;
  animation: 0.4s ease-in 0s 1 slideFromLeft;
}

.form-row {
  display: flex;
  gap: 10px;
}

.form-row > div {
  flex-grow: 1;
}

.form-head {
  color: var(--nord6);
  font-size: 3em;
  margin: 0px;
}

.form-welcome {
  margin-top: 2.5px;
  color: var(--nord5);
  margin-bottom: 60px;
}

.label input {
  display: block;
}

.label {
  color: var(--nord6);
  display: block;
  margin-bottom: 10px;
}

input,
select {
  width: 100%;

  background-color: var(--nord3);
  color: var(--nord4);

  padding: 12.5px 17.5px;
  margin-bottom: 20px;

  border-radius: 8px;
  border: none;
}

/* Hack for arrow padding */
select {
  border-right: 17.5px solid transparent;
}

#signup-text,
#signin-text {
  color: var(--nord5);
  margin-top: 60px;
  margin-bottom: 10px;
}

#signup-text span {
  color: var(--nord14);
  cursor: pointer;
}

#signin-text span {
  color: var(--nord8);
  cursor: pointer;
}

.form-submit {
  width: 100%;
  padding: 15px 20px;
  background-color: var(--nord10);
  border-radius: 8px;
  border: none;
  color: var(--nord5);
  font-weight: bold;
  font-size: 1.1em;
}

#register-submit {
  background-color: var(--nord14);
  color: var(--nord0);
}

@media screen and (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  #showcase {
    display: none;
  }

  #nav-holder {
    display: unset;
  }

  #login-container {
    background-color: unset;
  }

  #login-form,
  #register-form {
    height: 100%;
    padding: 10px 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #login-email,
  #login-password {
    padding: 17.5px;
  }
}
