* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--nord0);

  height: 100vh;
  width: 100%;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 3fr 2fr;
}

#logo {
  position: absolute;
  top: 25px;
  left: 25px;
}

#showcase {
  display: flex;
  justify-content: center;
  align-items: center;
}

#tutor {
  width: 45%;
  height: auto;
  border-radius: 20px;
}

#login-container {
  background-color: var(--nord1);
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-form {
  width: min(100% - 2em, 400px);
  margin-inline: auto;
}

#login-head {
  color: var(--nord6);
  font-size: 3em;
  margin: 0px;
}

#login-welcome {
  margin-top: 2.5px;
  color: var(--nord5);
  margin-bottom: 60px;
}

label[for='email'],
label[for='password'],
#login-email,
#login-password {
  display: block;
}

label[for='email'],
label[for='password'] {
  color: var(--nord6);
  margin-bottom: 10px;
}

#login-email,
#login-password {
  width: 100%;

  background-color: var(--nord3);
  color: var(--nord4);

  padding: 12.5px 17.5px;
  margin-bottom: 20px;

  border-radius: 8px;
  border: none;
}

#signup-text {
  color: var(--nord5);
  margin-top: 60px;
  margin-bottom: 10px;
}

#signup-text a {
  color: var(--nord14);
}

#login-submit {
  width: 100%;
  padding: 15px 20px;
  background-color: var(--nord10);
  border-radius: 8px;
  border: none;
  color: var(--nord5);
  font-weight: bold;
  font-size: 1.1em;
}
