* {
  font-family: 'Radio Canada', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--nord0);
}

main {
  width: min(100% - 2em, 1200px);
  margin-inline: auto;
  padding: 40px 0;

  display: flex;
  gap: 20px;
  flex-direction: column;
}

#topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#topRow p {
  color: var(--nord6);
  font-weight: bold;
  font-size: 1.4em;
}

#filterButton {
  width: fit-content;
  background-color: var(--nord14);
  color: var(--nord0);
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: bold;
  font-size: 1.1em;
  border: none;
  border-radius: 8px;
  padding: 12.5px 17.5px;
}

#filtersContainer {
  background-color: var(--nord0);
  padding: 40px;
  border-radius: 8px;
}

#tutorsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.label {
  color: var(--nord6);
  display: block;
  margin-bottom: 10px;
}

select,
input {
  display: block;
  width: 100%;
  background-color: var(--nord3);
  color: var(--nord4);
  border-radius: 8px;
  border: none;
  padding: 12.5px 17.5px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
}

select {
  border-right: 17.5px solid transparent;
}

#reset-filter,
#apply-filter {
  padding: 5px 15px;
  border: none;
  border-radius: 8px;
  background-color: var(--nord3);
  color: var(--nord6);
}

#apply-filter {
  background-color: var(--nord14);
  color: var(--nord0);
  font-weight: bold;
}

#row-end {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

#topicPillContainer {
  color: var(--nord1);
}

.newPill {
  color: var(--nord5);
}

.tutorCards {
  color: var(--nord6);
  background-color: var(--nord1);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 0.3s ease-in;
}

.tutorCards:hover {
  background-color: var(--nord3);
  cursor: pointer;
}

.tutorName {
  font-weight: bold;
  font-size: 1.2em;
}

.tutorTags {
  margin: 10px 0px;
}

.pills {
  border: 1px var(--nord9) solid;
  border-radius: 20px;
  padding: 5px 20px;
  background-color: var(--nord3);
}

.tutorTags {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
