nav {
  background-color: var(--nord1);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 75px;
}

#nav-logo {
  width: auto;
  height: 100%;
  padding: 12.5px 17.5px;
}

#nav-heading {
  color: var(--nord6);
  font-weight: bold;
  font-size: 1.15em;
}
