* {
  font-family: 'Radio Canada', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;

  display: grid;
  grid-template-rows: auto 1fr;

  background-color: var(--nord0);
}

main {
  width: min(100% - 2em, 1200px);
  margin-inline: auto;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#editForm {
  background-color: var(--nord1);
  padding: 40px;
  border-radius: 8px;
}

.label {
  color: var(--nord6);
  display: block;
  margin-bottom: 2px;
}

input {
  width: 100%;

  background-color: var(--nord3);
  color: var(--nord4);

  padding: 12.5px 17.5px;
  margin-bottom: 20px;

  border-radius: 8px;
  border: none;
}

#edit-submit {
  width: 100%;
  padding: 15px 20px;
  background-color: var(--nord10);
  border-radius: 8px;
  border: none;
  color: var(--nord5);
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 0px;
}

#profilePic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

#imgName {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
}

#fullName {
  color: var(--nord6);
  display: flex;
  gap: 10px;
}

#userType {
  color: var(--nord5);
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label {
  color: var(--nord6);
  padding-bottom: 5px;
}

.card {
  background-color: var(--nord1);
  padding: 75px 0px;
  border-radius: 8px;
  color: var(--nord6);
  display: flex;
  justify-content: center;
  align-items: center;
}

#editButton {
  background-color: var(--nord1);
  color: var(--nord14);

  padding: 15px;

  font-size: 1.25em;

  border: none;
  border-radius: 8px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
