<link rel="stylesheet" href="/css/nav.css">
<nav>
  <div id="left">
    <div id="branding">
      <img src="/img/logo.png" alt="graduation cap" id="nav-logo">
      <p id="nav-heading">Tutorria</p>
    </div>
    <div id="nav-links">
      <a href="/">Home</a>
      <a href="/profile" class="selected">Profile</a>
      <a href="/profile">Logout</a>
    </div>
  </div>
  <div id="right">
    <i class="fa-solid fa-bars" id="burger"></i>
  </div>
  <div id="modal">
    <div id="tint"></div>
    <div id="dropdown">
      <a href="/">Home</a>
      <a href="/profile" class="selected">Profile</a>
      <a href="/profile">Logout</a>
    </div>
  </div>
</nav>
